body{
    
text-align: center;
width: 100vw;
background-image: url('./kseniia-rastvorova-YhZt03_OJKs-unsplash.jpg');
background-position: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
overflow: hidden;
    
}

h1{
    font-size: 70px;
    color: blue;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    border:solid;
    border-width: 10px;
    flex-wrap: wrap;
    width: 480px;
    justify-content: center;
    gap: 0;
    margin: 0;

    

}

.container:hover{
    cursor:pointer;
}


.grid{
    background-color: white;
    /* width: 30px;
    height: 30px; */
    color:rgb(181, 245, 179);
    font-size: 10px;
    border: 0;
    
}

.options{
    display: flex;
    flex-direction: column;
}

.color, .clear, .size{
    width: 70px;
    border: none;
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;

}

.color:hover, .clear:hover{
    cursor: pointer;
}

